APP_NAME=order-service

# H2
DB_URL=jdbc:h2:mem:orderdb;DB_CLOSE_DELAY=-1
DB_DRIVER=org.h2.Driver
DB_USERNAME=sa
DB_PASSWORD=

# JPA
JPA_DIALECT=org.hibernate.dialect.H2Dialect
JPA_DDL_AUTO=create-drop
JPA_SHOW_SQL=true

# H2 Console
H2_CONSOLE_ENABLED=true
H2_CONSOLE_PATH=/h2-console
